body{
    display: flex;
    background-color: floralwhite;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

}

#animar{
    display: flex;
    justify-content: space-between;
    width: 20vw;

}

h1{
    display: flex;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: black;
    border: solid 1px black;
    padding: 3px 40px 3px 40px;
    border-radius: 50px;
    
}

.item{
    background-color: black;
    width: 5px;
    height: 40px;
    animation: esticar 1s linear infinite;
}

.item:nth-child(1) {
    animation-delay: 0s ;
    
}

.item:nth-child(2){
    animation-delay: 0.1s;
}

.item:nth-child(3) {
    animation-delay: 0.2s;
}

.item:nth-child(4) {
    animation-delay: 0.3s;
}

.item:nth-child(5) {
    animation-delay: 0.4s;
}

.item:nth-child(6) {
    animation-delay: 0.5s;
}

.item:nth-child(7) {
    animation-delay: 0.6s;
}

.item:nth-child(8) {
    animation-delay: 0.7s;
}

.item:nth-child(9) {
    animation-delay: 0.8s;
}

.item:nth-child(10) {
    animation-delay: 0.9s;
}

@media(max-width: 600px){
        #animar{
            display: block;
        }
       
        .item{
            position: absolute;
            left: 50%;;
            height: 70px;
            width: 12px;
            animation-name: girar;
            animation-duration: 2s;
            transform-origin: bottom; /*importante*/
        }
    }
    
@keyframes girar{
    0%{
        transform: rotate(0deg);
        background-color: green
    }
    30%{
        background-color: red;
        transform: rotate(0deg);
    }
    50%{
        background-color: #7FBB00
    }

    70%{
        background-color:fuchsia;
        transform: rotate(360deg);
    }
    
    100%{
        background-color:gold;
        transform: rotate(360deg);
        
    }
}


@keyframes esticar{
    0%{
        transform: scaleY(1);
        background: #0095B2;
    }    
    
    8.33%{
        transform: scaleY(1);
        background-color: #813E68
    }

    16.66%{
        transform: scaleY(1);
        background-color: #BA3B88;
    }

    24.99%{
        transform: scaleY(1);
        background-color: #FF3069
    }

    33.32%{
        transform: scaleY(2);
        background-color: #FF372E;
    }

    41.65%{
        transform: scaleY(1);
        background-color: #E46707;
    }

    49.98%{
         transform: scaleY(1);
         background-color: #FF7300;
    }

    58.31%{
        transform: scaleY(1);
        background-color: #E46707;
    }

    66.64%{
        transform: scaleY(1);
        background-color: #FFBE00;
    }

    74.97%{
        transform: scaleY(1);
        background-color: #FFE300;
    }

    83.3%{
        transform: scaleY(1);
        background-color: #7FBB00
    }

    100% {
        transform: scaleY(1)#0097D5;
    }


}